---
title: About
layout: default
permalink: /about.html
social: true
css : about.css
js: about.js
---

<div style="background: white;padding: 150px 0 75px 0; ">
  <div class="container">
    {% for item in site.data.about_detail.events_timeline %}
      <header class="major page-header" style = "padding-bottom: 100px;">
          <h1 id="timeline" style="font-size:3.6em;color: #2d2d2d; margin: auto;" >{{item.title | upcase}}</h1>
          <span id="desc" style = "font-size:1.2em; color:#2d2d2d;">{{item.description}}</span>
      </header>
      <ul class="timeline">
      {% for data in item.timeline_block %}
        <li class="{% if data.class %}{{data.class}}{% endif %}" >
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record {% if data.class %}invert{% endif %}" rel="tooltip" title="{{data.date}}" id=""></i></a></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <img class="img-responsive" src="{% if data.img %}{{data.img}}{% endif %}" />
            </div>
            <div class="timeline-body">
              <p>{{data.description}}</p>
            </div>
            <div class="timeline-footer">
                <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                <a><i class="glyphicon glyphicon-share"></i></a>
                <a class="pull-right">{{data.footer}}</a>
            </div>
          </div>
        </li>
      {% endfor %}
        <li class="clearfix" style="float: none;"></li>
      </ul>
    {% endfor %}
  </div>
</div>